@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,600&display=swap');

*{
  margin: 0;
	padding: 0;
}
body{
    margin: 0;
    padding: 0; 
    color: white;
}
/*NAVIGATION BAR*/
nav{
    box-shadow: 0 5px 15px #FF00DE;
    margin: 0;
    padding: 0;
}
.navbar{
    font-family: 'Rubik';
    font-style: italic;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(to bottom, #FF00DE 50%,#fe34c1 100%); 
}
.navbar-toggler{
    border: 3px solid black;
    margin-right: 15px;
}
.navbar-brand{
    font-weight: 500;
    font-size: 15pt;
    padding-top: 20px;
    margin-bottom: 0;
    padding-left: .5rem;
}
.navbar-nav{
	padding-right: 5rem;
	font-size: 15pt;
  margin-top: 10px;
}
.d-inline-block{
    padding: 0;
    margin: 0;
    margin-top: 0;
    padding-bottom: 5px;
    margin-right: 10px;
}
/* ROUNDED SEARCH BAR*/
.container .input{
	border: 0;
	outline: none;
	color: #fe34c1;
}
.search_wrap{
	width: 500px;
}
.search_wrap .search_box{
	position: relative;
	width: 100%;
  margin-top: 10px;
	height: 45px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	padding-top: 20px;
	background: #FF00DE;
	border: #fff;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #fe34c1;	
}
.search_wrap.search_wrap_6 .search_box .input{
	border-radius: 50px;
}

.search_wrap.search_wrap_6 .search_box .btn{
	width: 100px;
	height: 40px;
	top: 2.9px;
	right: 3px;
	border-radius: 3px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search_wrap.search_wrap_6 .search_box .btn{
	border-radius: 25px;
}
.search_wrap.search_wrap_6 .search_box .input{
	padding-right: 145px;
}
/*Pricing Section*/
.card-group{
	color:#FF00DE;
}
.list-group-item{
	color: #FF00DE;
}
.card {
	border:none;
	padding: 10px 50px;
  }

  .card::after {
	position: absolute;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .card:hover {


	transform: scale(1.02, 1.02);
	-webkit-transform: scale(1.02, 1.02);
	backface-visibility: hidden; 
	will-change: transform;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
  }

  .card:hover::after {
	opacity: 1;
  }
.btn-select{
	border: 1px solid #FF00DE;
	color: #FF00DE;
	background-color: #fff;
}
  .card:hover .btn-select{
	color:white;
	background:#FF00DE;
	border: 1px solid #FF00DE;
  }
/*Footer*/
.logo{
	width: 32.5px;
	height: 35px;
	font-family: 'Rubik';
  }
  .site-footer
  {
  background-color: #FF00DE;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  }
  .site-footer hr
  {
  border-top-color:white;
  opacity:0.5;
  }
  .site-footer hr.small
  {
  margin:20px 0;
  }
  .site-footer h6
  {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  }
  .site-footer a
  {
  color:#737373;
  }
  .site-footer a:hover
  {
  color:#3366cc;
  text-decoration:none;
  }
  .footer-links
  {
  padding-left:0;
  list-style:none;
  }
  .footer-links li
  {
  display:block;
  }
  .footer-links a
  {
  color:#737373;
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
  color:#3366cc;
  text-decoration:none;
  }
  .footer-links.inline li
  {
  display:inline-block;
  }
  .site-footer .social-icons
  {
  text-align:right;
  }
  .site-footer .social-icons a
  {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#FF00DE;
  border: 2px solid white;
  }
  .copyright-text
  {
  margin:0;
  color: white;
  }
  .text-justify{
	text-align: left;
  }
  @media (max-width:736px)
  {
  .site-footer [class^=col-]
  {
	margin-bottom:30px;
  }
  }
  @media (max-width:736px)
  {
  .site-footer
  {
	padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
	text-align:center
  }
  }
  .social-icons
  {
  padding-left:0;
  margin-bottom:0;
  list-style:none
  }
  .social-icons li
  {
  display:inline-block;
  margin-bottom:4px
  }
  .social-icons li.title
  {
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
  }
  .social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
  color:#fff;
  background-color:#29aafe
  }
  .social-icons.size-sm a
  {
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
  }
  .social-icons a.facebook:hover
  {
  background-color:#3b5998;
  }
  .social-icons a.twitter:hover
  {
  background-color:#00aced;
  }
  .social-icons a.linkedin:hover
  {
  background-color:#007bb6;
  }
  .social-icons a.dribbble:hover
  {
  background-color:#ea4c89;
  }
  .fa{
	color: white;
  }
  @media (max-width:736px)
  {
  .social-icons li.title
  {
	display:block;
	margin-right:0;
	font-weight:600;
  }
  }